 <div class="container">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Contact us</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Contact us</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-body row">
        <div class="col-5 text-center d-flex align-items-center justify-content-center">
          <div class="">
            <h1 style="border-bottom: 5px solid red;" ><strong><span style="color: red;">Crime</span> Rate</strong></h1>
            <h2>Analysis & Prediction</h2>
            <p class="lead mb-5">College Project: GEC Gandhinager<br>
              Phone: 9664927209 , 8160025520
            </p>
          </div>
        </div>
        <div class="col-7">
          <form #form="ngForm" (submit)="onSubmit(form)">
            <input type="hidden" name="Contact" [value]="service.formData.contactId">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" id="Name" class="form-control" placeholder="Name"
              name="name" #name="ngModel" [(ngModel)]="service.formData.name"
              required />
            </div>
            <div class="form-group">
              <label for="inputEmail">E-Mail</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="E-Mail"
              name="email" #email="ngModel" [(ngModel)]="service.formData.email"
              required/>
            </div>
            <div class="form-group">
              <label for="inputSubject">Subject</label>
              <input type="text" id="inputSubject" class="form-control" placeholder="Subject"
              name="subject" #subject="ngModel" [(ngModel)]="service.formData.subject" 
              required/>
            </div>
            <div class="form-group">
              <label for="inputMessage">Message</label>
              <textarea id="inputMessage" class="form-control" rows="4" placeholder="Massage"
              name="massage" #massage="ngModel" [(ngModel)]="service.formData.massage"
              required></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" value="Send message" [disabled]="form.invalid">Send message</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>
</div>