<nav class="navbar navbar-expand-md navbar-light fixed-top shadow">
  <a class="navbar-brand">
    <img src="./assets/crime/Logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/crime/home']"><b>Home</b></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <b>Analysis</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/crime/analysis-india']">India</a>
          <a class="dropdown-item" [routerLink]="['/crime/analysis-gujarat']">Gujarat</a>
          <a class="dropdown-item" [routerLink]="['/crime/cyber-crime']">Cyber Crime</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/crime/prediction']"><b>Prediction</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/crime/complaint']"><b>Complaint</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['faq']"><b>F/Q</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/crime/contactus']"><b>Contact Us</b></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a [routerLink]="['/account/login']" class="btn btn-outline-primary my-2 my-sm-0">Login</a>
    </form>
  </div>
</nav>