<div class="register-box">
  <div class="card card-primary card-outline">
     <div class="card-header text-center">
      <img src="./assets/crime/Logo.png" width="200" height="50" class="d-inline-block align-top" alt="">
    </div>
    <div class="card-body register-card-body">
      <p class="login-box-msg">Create a New Account</p>

      <form #RegisterForm="ngForm" (ngSubmit)="onSubmitold(RegisterForm)">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="FirstName" #FirstName="ngModel"
            [(ngModel)]="registerservice.selectedRegister.FirstName" placeholder="Email ID" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched" style="color: red;">*</div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="LastName" #LastName="ngModel"
            [(ngModel)]="registerservice.selectedRegister.LastName" placeholder="Mobile Number" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-phone"></span>
            </div>
          </div>
          <div class="validation-error" *ngIf="LastName.invalid && LastName.touched" style="color: red;">*</div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="Username" #Username="ngModel"
            [(ngModel)]="registerservice.selectedRegister.Username" placeholder="Username" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
          <div class="validation-error" *ngIf="Username.invalid && Username.touched" style="color: red;">*</div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="Password" #Password="ngModel"
            [(ngModel)]="registerservice.selectedRegister.Password" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <div class="validation-error" *ngIf="Password.invalid && Password.touched" style="color: red;">*</div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="Password" #Password="ngModel"
            [(ngModel)]="registerservice.selectedRegister.Password" placeholder="Confirm Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
          <div class="validation-error" *ngIf="Password.invalid && Password.touched" style="color: red;">*</div>
        </div>
        <!-- <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Retype password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div> -->
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button [disabled]="!RegisterForm.valid" type="submit" class="btn btn-primary btn-block"><i
                class="pull-left fa fa-spinner fa-spin" *ngIf="loading"></i>Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> -->

      <a [routerLink]="['/account/login']" class="text-center">I already have a login</a>
      <!-- <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" name="FirstName" [(ngModel)]="form.FirstName" required minlength="3"
            maxlength="20" #FirstName="ngModel" />
          <div class="alert-danger" *ngIf="FirstName.errors && f.submitted">
            <div *ngIf="FirstName.errors.required">FirstName is required</div>
            <div *ngIf="FirstName.errors.minlength">
              FirstName must be at least 3 characters
            </div>
            <div *ngIf="FirstName.errors.maxlength">
              FirstName must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="LastName" [(ngModel)]="form.LastName" required minlength="3"
            maxlength="20" #LastName="ngModel" />
          <div class="alert-danger" *ngIf="LastName.errors && f.submitted">
            <div *ngIf="LastName.errors.required">LastName is required</div>
            <div *ngIf="LastName.errors.minlength">
              LastName must be at least 3 characters
            </div>
            <div *ngIf="LastName.errors.maxlength">
              LastName must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="Username" [(ngModel)]="form.Username" required email
            #Username="ngModel" />
          <div class="alert-danger" *ngIf="Username.errors && f.submitted">
            <div *ngIf="Username.errors.required">Username is required</div>
            <div *ngIf="Username.errors.email">
              Username must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div> -->
    </div>
  </div>
</div>