<div class="container-fluid">
    <div class="row pt-3" style="text-align: center;">
        <div class="col-md-12">
            <h1 style="font-size: xx-large;">India Crime Analysis (2001-2019)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card card-outline card-primary shadow-lg">
                <div class="card-header">
                    <h2 class="card-title"><b>State & UT wise Crime Analysis</b></h2>
                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
                            <i class="fas fa-sync-alt"></i>
                          </button> -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <iframe style="border:none;" src="https://crimerate.ga/indiamap.html" height="845px"
                        width="100%"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-outline card-primary shadow-lg">
                <div class="card-header">
                    <h2 class="card-title"><b>Crime Type wise Analysis</b></h2>
                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
                            <i class="fas fa-sync-alt"></i>
                          </button> -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <iframe style="border:none;" src="https://crimerate.ga/indiapie.html" height="435px"
                        width="100%"></iframe>
                </div>
            </div>
            <div class="card card-outline card-primary shadow-lg">
                <div class="card-header">
                    <h2 class="card-title"><b>Year wise Total Crime Analysis</b></h2>
                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
                            <i class="fas fa-sync-alt"></i>
                          </button> -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <iframe style="border:none;" src="https://crimerate.ga/indialine.html" height="270px"
                        width="100%"></iframe>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card card-outline card-primary shadow-lg">
                <div class="card-header">
                    <h2 class="card-title"><b>State & UT wise Crime Analysis</b></h2>
                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
                            <i class="fas fa-sync-alt"></i>
                          </button> -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <iframe style="border:none;" src="https://crimerate.ga/indiabar.html" width="100%"
                        height="800px"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-outline card-primary shadow-lg">
                <div class="card-header">
                    <h2 class="card-title"><b>Crime Type wise Analysis</b></h2>

                    <div class="card-tools">
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
                            <i class="fas fa-sync-alt"></i>
                          </button> -->
                        <button type="button" class="btn btn-tool" data-card-widget="maximize">
                            <i class="fas fa-expand"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form #form="ngForm" (submit)="onSubmit(form)" class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend form-group">
                                <label class="input-group-text">
                                    State
                                </label>
                            </div>
                            <select class="form-control" id="State" name="State" [(ngModel)]="service.formData.State"
                                required>
                                <option *ngFor="let p of States" [ngValue]="p.id">{{p.title}}</option>
                            </select>
                            <div class="input-group-append">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" value="Predict Data"
                                        [disabled]="form.invalid">Analysis</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="IsGujarat">
                        <iframe style="border:none;" [src]="urlSafe" width="100%" height="420"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>