<footer class="pt-5 navbar-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md"><img src="./assets/crime/Logo.png" width="150" height="50"
          class="d-inline-block align-top" alt="">
        <small class="d-block mb-3 text-muted">&copy; 2021-2022</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Analysis of Crime Rate</a></li>
          <li><a class="text-muted" href="#">Prediction of Crime</a></li>
          <li><a class="text-muted" href="#">Complaint System</a></li>
          <li><a class="text-muted" href="#">Cyber Crime Analysis</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Dataset of crime</a></li>
          <li><a class="text-muted" href="#">Resource of Data</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Business</a></li>
          <li><a class="text-muted" href="#">Education</a></li>
          <li><a class="text-muted" href="#">Government</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
    <p class="float-right"><a [routerLink]="['/crime/home']">Back to top</a></p>
    <p>&copy; 2021-2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</footer>