<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>India All State Cyber Crime Analysis</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4">
            <img src="./assets/crime/i-1.jpeg" width=100% alt="">
            <img src="./assets/crime/i-2.jpeg" width=100% alt="">
        </div>
        <div class="col-md-8" style="padding-bottom: 50px;">
            <div style="float: center; max-width: 100%;  max-height: 100%">
                <div id="IndChart" style="float: center;"></div>
            </div>
            <div style="padding-top: 50px;">
                <img src="./assets/crime/India-pai.jpeg" width=100% alt="">
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <iframe style="border:none;" src="https://crimerate.ga/cyberbar.html" height="700px" width="1100px"></iframe>
            <!-- <img src="./assets/crime/g-1.jpeg" width=100% alt="">
            <img src="./assets/crime/g-2.jpeg" width=100% alt=""> -->
        </div>
        <div class="col-md-8" style="padding-bottom: 50px;">
            <div style="float: center; max-width: 100%;  max-height: 100%">
                <iframe style="border:none;" src="https://crimerate.ga/cybermap.html" height="600px" width="1000" ></iframe>
                <!-- <div id="GujChart" style="float: center;"></div> -->
            </div>
        </div>
        <div class="col-md-6">
            <iframe style="border:none;" src="https://crimerate.ga/cyberpie.html" height="500px" width="500" ></iframe>
        </div>
        <div class="col-md-6">
            <iframe style="border:none;" src="https://crimerate.ga/cyberline.html" height="300px" width="500" ></iframe>
        </div>
    </div>
</div>